.card {
    padding: 10px;
    text-align: center;
    width: 30%;
    background-color: honeydew;
}

.name {
    padding: 5px;
}

.caption {
    padding: 5px;
}

#image {
    max-height: 100%;
    max-width: 100%;
}

#image-single {
    width: 100%;
    margin: 10px;
}

.single-outer {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.card-single {
    padding: 10px;
    text-align: center;
    background-color: white;
    margin-bottom: 20px;
}

.btns {
    display: flex;
    gap: 3em;
    justify-content: center;
}

#edit {
    padding: 10px;
    background-color: green;
    cursor: pointer;
    border-radius: 5%;
}

#del {
    padding: 10px;
    background-color: red;
    cursor: pointer;
    border-radius: 5%;
}
